.footer-container{
    width: 90%;
    justify-content: space-between;
    display: flex;
}

.footer-left{
    width: 490px;
}

.footer-socials{
    display: flex;
    flex-direction: row;
}

.footer-socials>a{
    margin-right: 1rem;
}

@media (max-width: 840px){
    .footer-container{
        flex-direction: column;
    }

    .footer-left{
        width: 100%;
    }

    .footer-socials{
        margin-top: 2rem;
    }
}

