.hero-wrapper{
  position: relative;
}

.hero-background{
  position: absolute;
}

.hero-container {
  overflow: hidden;
  z-index: 1;
  width: 48%;
}

.hero-content {
  padding: 4rem 0 12rem;
  overflow: hidden;
}

.main-title {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textTitle {
  text-align: center;
}

.hero-description {
  text-align: center;
}

.hero-buttons {
  gap: 1rem;

}

/* .background {
  background: url(../../../public/images/Looper\ image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

@media (max-width: 1300px) {
  .hero-container {
    width: 58%;
  }
}

@media (max-width: 1200px) {
  .hero-container {
    width: 68%;
  }
}

@media (max-width: 1000px) {
  .hero-container {
    width: 78%;
  }
}

@media (max-width: 867px) {
  .hero-background {
    bottom: -1rem;
  }
}

@media (max-width: 787px) {
  .hero-background {
    bottom: 1rem;
  }
}

@media (max-width: 568px) {
  .hero-background {
    bottom: 3rem;
  }
}

@media (max-width: 698px) {
    .hero-container {
     width: 88%;
    }

    .hero-buttons{
        flex-direction: column;
    }
  }

  @media (max-width: 468px) {
    .hero-container {
     width: 92%;
    }
  }

