
.header-wrapper{
  background: #000;
}

.header-container {
  max-width: 1500px;
  width: 100%;
}

.header-menu {
  gap: 2rem;
}

.header-menu>a:hover{
  color: lightgrey;
  transform: scale(1.01);
}

.header-menu > a {
  font-size: 18px;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

.header-socials>img{
  transform: scale(1.01);
}
