.about-us-wrapper {
  width: 90%;
}

.about-us-container {
  gap: 3rem;

  display: inline-flex;
  justify-content: space-between;
}

.about-us-left {
  width: 50%;
}

.arrows {
  display: flex;
  flex-direction: row;
}

.arrow-left {
  margin-right: 1rem;
}

.about-us-image {
  border-radius: 2rem;
  overflow: hidden;
}

.about-us-image > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1180px) {
  .about-us-left {
    width: 70%;
  }
}

@media (max-width: 980px) {
  .about-us-left {
    width: 80%;
  }
}

@media (max-width: 878px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
  }

  .about-us-left{
    display: flex;flex-direction: column;
  }

  .about-us-title{
    text-align: center;
  }

  .about-us-description{
    text-align: center;
  }

  .about-us-right{
    display: flex;
    justify-content: center;
  }

  .about-us-image{
    width: 70%;
  }

  .about-us-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrows{
    display: flex;
    justify-content: center;
  }
}



/* Carousel section css */
.carousel-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.carousel{
    overflow: hidden;
    width: 90%;
}

.inner{
    transition: transform;
}



