

.visit-academy-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  gap: 7%;
}

.image-container{
  border-radius: 3rem;
}

.visit-academy-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.image-container {
  width: 545px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.image-container:hover {
  transform: scale(1.02);
}

.image-container > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .visit-academy-container {
    width: 85%;
    gap: 5%;
  }

  .image-container{
    width: 440px;
  }
}


@media (max-width: 978px) {
  .visit-academy-container {
    flex-direction: column;
    align-items: center;
  }

  .visit-academy-left {
    width: 85%;
    align-items: center;
    margin-bottom: 4rem;
  }

  .visit-academy-title{
    text-align: center;
  }

  .visit-academy-left>p{
    text-align: center;
  }
  
  .image-container{
    width: 370px;
  }
}


@media (max-width: 508px){
  .image-container{
    width: 320px;
  }
}

@media (max-width: 390px){
  .image-container{
    width: 230px;
  }
}