.card-section {
  background: #0b0910;
}

.card-wrapper {
  background: #0b0910;
  max-width: 1500px;
  overflow: hidden;
}

.card-container {
  width: 70%;
}

.card-title {
  text-align: center;
}

/* Boxes */

.box-wrapper{
  padding: 1.5rem;
}

.box-container {
  border: 1px solid var(--white);
  width: 400px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 1rem;
  transition: all 300ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 1.5rem;
}

.box-title {
  font-size: 1.125rem !important;
}

.box-container:hover {
  transform: scale(1.02);
}

.box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-bottom > img {
  overflow: hidden;
}

.learn-more {
  margin-right: 0.5rem !important;
}

.box-description {
  margin-top: 1rem;
}

.slick-dots {
  padding-top: 2rem;
}

/* responsiveness */

@media (max-width: 768px) {
  .box-container {
    height: 320px;
  }
}

